function local_setup()

global PROJECT_SETUP

% setup:
% `cp local_setup.m.example local_setup.m` 
% and adapt the latter to your personal environment 

PROJECT_SETUP.TCP_UDP_DIR = '~/software/tcp_udp_ip/';
PROJECT_SETUP.VCO_DATA_DIR = '/mnt/blbt-fs1/projects/visual_complexity/data/';
PROJECT_SETUP.PYTHON_EXECUTABLE = 'python';
PROJECT_SETUP.BBCI_DATA_DIR = fullfile(getenv('HOME'), 'local_data', 'bbci');
PROJECT_SETUP.BBCI_TMP_DIR = fullfile(getenv('HOME'), 'local_data', 'tmp');
%data directories for experiment recording lookup, in order of decreasing preference
% used for analysis only, not experiment runs
PROJECT_SETUP.RECORDING_DIRS = {...
    fullfile(getenv('HOME'), 'local_data', 'bbciRaw'),...
    '/mnt/blbt-fs1/data/bbciRaw'};
PROJECT_SETUP.SCREEN_SIZE = [1920, 1080];
PROJECT_SETUP.SCREEN_POSITION = [-1920, 0];

% Settings for systems with actual experiment hardware
PROJECT_SETUP.HARDWARE_AVAILABLE = false;
PROJECT_SETUP.PARALLEL_PORT_ADDRESS = '0xD050';
% should be committed to repo in directory experiment_scripts/extra_files
PROJECT_SETUP.BV_WORKSPACE_FILE_NAME = 'vco_bv_workspace_audiolab.rwksp';
PROJECT_SETUP.BV_RECORDER_EXECUTABLE = 'c:\Vision\Recorder\Recorder.exe';